body {
  background-image: url(./imagensport/estrellas.avif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 30px;
}

.maindiv {
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 100px;
  width: 2000px;
}

h1 {
  color: rgb(6, 26, 177);
  text-align: center;
  font-size: 100px;
  text-shadow: 2px 2px 5px rgb(56, 86, 255);
  font-family: "Brush Script MT", cursive;
}

h2 {
  color: rgb(7, 31, 165);
  text-align: center;
  font-size: 50px;
  text-shadow: 2px 2px 5px rgb(63, 66, 235);
  font-family: "Brush Script MT", cursive;
}

h3 {
  color: rgb(7, 31, 165);
  text-align: center;
  font-size: 50px;
  text-shadow: 2px 2px 5px rgb(63, 66, 235);
  font-family: "Brush Script MT", cursive;
}

p1 {
  color: rgb(51, 90, 173);
  text-align: center;
  font-size: 23px;
  font-family: monospace;
  margin-left: 10px;
  margin-top: 50px;

}

p2 {
  color: rgb(6, 26, 177);
  text-align: center;
  font-size: 45px;
  font-family: "Brush Script MT", cursive;
  margin-left: 10px;
  margin-bottom: 20px;
}

p3 {
  color: rgb(6, 26, 177);
  text-align: center;
  font-size: 45px;
  font-family: "Brush Script MT", cursive;
  margin-left: 10px;
  margin-bottom: 20px;
}

p4 {
  color: rgb(6, 26, 177);
  text-align: center;
  font-size: 45px;
  font-family: "Brush Script MT", cursive;
  margin-left: 10px;
  margin-bottom: 20px;
}

p5 {
  color: rgb(51, 90, 173);
  text-align: center;
  font-size: 23px;
  font-family: monospace;
  margin-left: 5px;
}

p6 {
  color: rgb(51, 90, 173);
  text-align: center;
  font-size: 23px;
  font-family: monospace;
  margin-left: 5px;
}

.nose a {
  color: rgb(0, 58, 184);
  text-align: center;
  font-size: 23px;
  font-family: monospace;
  margin-left: -175px;
  margin-top: 200px;
  position: absolute;
}

body {
  font-family: 'h1', fantasy;
}

body {
  font-family: 'h2', serif;

}

.espaço {
  width: 600px;
  height: 600px;
  left: 100%;
  background-color: #c9c2c2;
  padding: 20px;
  border: 10px solid #203c4d;
  border-style: dashed;
}

.claro {
  background-color: #203c4d;
  padding: -10px;
  border: 1px solid #324599;
  border-style: dashed;
  margin-top: -10px;
}

.puesyo {
  background-color: #203c4d;
  padding: -10px;
  border: 1px solid #324599;
  border-style: dashed;
  margin-top: -10px
}

.quetal {
  width: 600px;
  height: 600px;
  background-color: #c9c2c2;
  padding: 20px;
  border: 10px solid #203c4d;
  border-style: dashed;
}

.hola {
  width: 300px;
  height: 100px;
  background-color: #c9c2c2;
  padding: 20px;
  border: 5px solid #203c4d;
  border-style: dashed;
  height: 430px;
}

.nose {
  width: 200px;
  background-color: #c9c2c2;
  padding: 20px;
  border: 5px solid #203c4d;
  border-style: dashed;
  height: 250px;
  position: absolute;
  margin-left: 353px;
  margin-top: -480px;
}

.elotro {
  width: 300px;
  background-color: #c9c2c2;
  padding: 20px;
  border: 5px solid #203c4d;
  border-style: dashed;
  height: 411px;
  margin-left: 250px;
  gap: 10px;
}

.quiensabe {
  width: 200px;
  background-color: #c9c2c2;
  padding: 20px;
  border: 5px solid #203c4d;
  border-style: dashed;
  height: 230px;
  margin-left: -3px;
  margin-top: -460px;

}

.ano1 {
  background-color: #88a1b1;
  padding: 30px;
  border: 5px solid #1d295a;
  border-style: outset;
  margin-top: 150px position: absolute;
  width: 200px;
  margin-left: 15px;
}

.ano2 {
  background-color: #88a1b1;
  padding: 30px;
  border: 5px solid #1d295a;
  border-style: outset;
  margin-top: -50px position: absolute;
  width: 200px;
  margin-left: 15px;
}

.ano3 {
  background-color: #88a1b1;
  padding: 30px;
  border: 5px solid #1d295a;
  border-style: outset;
  margin-top: -200px position: absolute;
  width: 200px;
  margin-left: 15px;
}

#giflegau {
  width: 100px;
  position: absolute;
  margin-left: -700px;
  margin-top: -200px;
}

#osiosi {
  width: 130px;
  position: absolute;
  margin-left: 1400px;
  margin-top: -10px;
}

#ok {
  width: 100px;
  position: absolute;
  margin-left: 350px;
  margin-top: -240px;

}

#ventana {
  width: 250px;
  position: absolute;
  margin-left: -400px;
  margin-top: 500px
}

#menta {
  width: 100px;
  position: absolute;
  margin-left: -150px;
  margin-top: 450px;

}

#azul {
  width: 250px;
  position: absolute;
  margin-left: 400px;
  margin-top: 500px
}

#mascara {
  width: 100px;
  position: absolute;
  margin-left: 150px;
  margin-top: 450px
}

#pipi {
  width: 120px;
  position: absolute;
  margin-left: -1350px;
  margin-top: -10px;

}