body {
  background-image: url(./imagensport/estrellas.avif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 30px;
}

.wewewe {
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 100px;
  width: 2000px;
}

h1 {
    color: rgb(6, 26, 177);
  text-align: center;
  font-size: 100px;
  text-shadow: 2px 2px 5px rgb(56, 86, 255);
  font-family: "Brush Script MT", cursive;
}

h2 {
   color: rgb(7, 31, 165);
  text-align: center;
  font-size: 50px; 
  text-shadow: 2px 2px 5px rgb(63, 66, 235);
  font-family: "Brush Script MT", cursive;
}

h3 {
color: rgb(51, 90, 173);
  text-align: center;
  font-size: 15px;
  font-family: monospace;
  margin-top: -15px;
}

h4 {
color: rgb(51, 90, 173);
  text-align: center;
  font-size: 15px;
  font-family: monospace;
}

.um {
  width: 600px;
  height: 600px;
  background-color: #c9c2c2;
  padding: 20px;
  border: 10px solid #203c4d;
  border-style: dashed;
  margin-left: 600px;
  margin-top: -50px;

}

.dois {
    background-color: #203c4d;
  padding: -10px;
  border: 1px solid #324599;
  border-style: dashed;
  margin-top: -10px;
}

.treis {
       width: 300px;
  height: 100px;
  background-color: #c9c2c2;
  padding: 20px;
  border: 5px solid #203c4d;
  border-style: dashed;
  height: 430px;
}

.quatro {
        width: 200px;
  background-color: #c9c2c2;
  padding: 20px;
  border: 5px solid #203c4d;
  border-style: dashed;
  height: 250px;
  position: absolute;
  margin-left: 353px;
  margin-top: -480px;
}

#estrela {
    width: 100px;
  position: absolute;
  margin-left: 1000px;
  margin-top: -810px;
}

#roxo {
 width: 130px;
  position: absolute;
  margin-left: 570px;
  margin-top: -700px;
}

#guitarra {
     width: 250px;
  position: absolute;
  margin-left: 985px;
  margin-top: -155px;
}

#caixa {
width: 150px;
  position: absolute;
  margin-left: 650px;
  margin-top: -470px;
}

#Minecraft {
width: 130px;
  position: absolute;
  margin-left: 820px;
  margin-top: -470px;
}

#uwu {
width: 100px;
  position: absolute;
  margin-left: 650px;
  margin-top: -350px;
}

#poshito {
 width: 100px;
  position: absolute;
  margin-left: 780px;
  margin-top: -350px;
}